{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Ajouter un produit -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
  <style>

  input {
    margin-left: 10px;
  }

  fieldset
  {
    margin-top: 25px;
  }

  .product input#form_product_name {
    margin-left: 0px;
    width: 400px;
  }

  .product #form_serving_size {
    margin-left: 74px;
    width: 100px;
  }

  .product #form_ingredients_from_palm_oil_n, .product #form_ingredients_that_may_be_from_palm_oil_n {
    margin-left: 5px;
    width: 70px;
  }

  .product #form_ingredients_from_palm_oil_n {
    margin-left: 53px;
  }

  .additives > label {
    margin-right: 500px;
  }

  #form_brand {
    width: 270px;
  }

  #form_country_fr {
    width: 170px;
  }

  .ingredients > label {
    margin-right: 500px;
  }

  .nutritional_information div label:nth-child(1) {
    position: absolute;
    right: 670px;
  }
  .nutritional_information div input {
    margin-left: 150px;
    width: 100px;
  }

  .nutritional_information div label:nth-child(3) {
    position: absolute;
    right: 415px;
  }

  select#form_nutrition_grade_fr
  {
    margin-left: 150px;
  }

  #fields_necessary
  {
    margin-top: 40px;
  }

  button#form_save
  {
    margin-top: 17px;
  }
</style>
{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h4>Ajouter un produit</h4>
        {# Form #}
        {{ form_start(form) }}
        <fieldset>
          <legend>Produit</legend>
          <div class="product">
            {{ form_label(form.product_name) }}
            {{ form_widget(form.product_name) }}
            {{ form_row(form.serving_size) }}
            {{ form_label(form.ingredients_from_palm_oil_n) }}
            {{ form_widget(form.ingredients_from_palm_oil_n) }}
            {{ form_label(form.ingredients_that_may_be_from_palm_oil_n) }}
            {{ form_widget(form.ingredients_that_may_be_from_palm_oil_n) }}
          </div>
        </fiedlset>

        <fieldset>
          <legend>Additives</legend>
          <div class="additives">
            {{ form_label(form.additive_fr) }}
            {{ form_widget(form.additive_fr) }}
          </div>
        </fiedlset>

        <fieldset>
          <legend>Marque</legend>
          {{ form_label(form.brand) }}
          {{ form_widget(form.brand) }}
        </fiedlset>

        <fieldset>
          <legend>Pays</legend>
          {{ form_label(form.country_fr) }}
          {{ form_widget(form.country_fr) }}
        </fiedlset>

        <fieldset>
          <legend>Ingredients</legend>
          <div class="ingredients">
            {{ form_label(form.ingredient) }}
            {{ form_widget(form.ingredient) }}
          </div>
        </fiedlset>

        <fieldset>
          <legend>Valeurs nutritionnelles (pour 100g)</legend>
          <div class="nutritional_information">
            {{ form_row(form.nutrition_grade_fr) }}

            <div>
              {{ form_label(form.energy_100g) }}
              {{ form_widget(form.energy_100g) }}
              {{ form_label(form.fat_100g) }}
              {{ form_widget(form.fat_100g) }}
            </div>

            <div>
              {{ form_label(form.saturated_fat_100g) }}
              {{ form_widget(form.saturated_fat_100g) }}
              {{ form_label(form.cholesterol_100g) }}
              {{ form_widget(form.cholesterol_100g) }}
            </div>

            <div>
              {{ form_label(form.carbohydrates_100g) }}
              {{ form_widget(form.carbohydrates_100g) }}
              {{ form_label(form.sugars_100g) }}
              {{ form_widget(form.sugars_100g) }}
            </div>

            <div>
              {{ form_label(form.fiber_100g) }}
              {{ form_widget(form.fiber_100g) }}
              {{ form_label(form.proteins_100g) }}
              {{ form_widget(form.proteins_100g) }}
            </div>

            <div>
              {{ form_label(form.salt_100g) }}
              {{ form_widget(form.salt_100g) }}
              {{ form_label(form.sodium_100g) }}
              {{ form_widget(form.sodium_100g) }}
            </div>

            <div>
              {{ form_label(form.vitamin_a_100g) }}
              {{ form_widget(form.vitamin_a_100g) }}
              {{ form_label(form.calcium_100g) }}
              {{ form_widget(form.calcium_100g) }}
            </div>

            <div>
              {{ form_label(form.iron_100g) }}
              {{ form_widget(form.iron_100g) }}
          </div>

          </fiedlset>

          <label id="fields_necessary">
          <strong>*</strong>champs obligatoires</label>

          {{ form_rest(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div <!-- /.col-lg-9 --> {% endblock %}

{% block javascripts %}
<script>
//Listen if criteria selected has changed
$( form_criteria ).change(function() {
  var criteria = $( "#form_criteria" ).val();
  //Call Ajax function
  ajaxOperators( criteria );
});

//Retrieve the list of operators corresponding at the criteria selected
function ajaxOperators(criteria) {
  console.log(criteria);
  $.ajax({
    url: "{{ path('app_product_search__ajaxOperators') }}",
    type: "POST",
    data: criteria,
    contentType: "application/json; charset=utf-8"
  })
  .done(function (data) {
    console.log("done");
    console.log( data );
    //Call function to replace list of operators in the form
    changeListOperators( data );
  })
  .fail(function () {
    alert("fail");
  });
}

//Replace into the form, the field operator with a list which corresponding at criteria
function changeListOperators(list_operators)
{
  var list = list_operators;

  $select = $( form_operator );
  //Clean all options in select
  $select
    .find('option')
    .remove()
  ;

  $.each(list, function(index, value) {
    $('<option>')
    .text(index)
    .attr('value', value)
    .appendTo($select)
  });
}
</script>
{% endblock %}
