{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  {{ product.getProductName }}
  - Informations produit
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">{{ product.getProductName }}</h3>
        <h4>Caractéristiques du produit</h4>
        <p>
          Dénomination générique:
          {{ product.getProductName }}
        </p>
        <p>
          Portion:
          {{ product.getServingSize }}
        </p>
        <h4>Ingrédients</h4>
        <p>
          Ingrédients de l'huile de palme:
          {{ product.getIngredientsFromPalmOil }}
        </p>
        <p>
          Ingrédients qui peuvent provenir de l'huile de palme:
          {{ product.getIngredientsThatMayBeFromPalmOil }}
        </p>
        <h4>Informations nutrionnelles</h4>
      </div>
    </div>
  </div>
  <!-- /.col-lg-9 -->
{% endblock %}
