{# templates/product_information/list.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Liste produits -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
  <div class="col-lg-9">
    {% if list_products is empty %}
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Aucun produit</h1>
        <p class="lead">
          Aucun produit ne correspond à vos critères de recherche !
          <br \="\">
          Vous pouvez effectuer une nouvelle recherche.
        </p>
        <a href="{{ path('app_product_search')}}" class="btn btn-primary btn-lg">Rechercher un nouveau produit</a>
      </header>
    {% else %}

      <!-- Page Features -->
      <div class="row text-center">
        {% for list in list_products %}
          {% for product in list %}
            {# TEST #}
            {#{ product.getCode }#}
            <a href="{{ path('app_product_information', {'id': product.getId}) }}">
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                  {% if img_small is defined %}
                    {# Validation if img exist #}
                    <img class="card-img-top" src="{{ img_small }}" alt="" width="auto" height="auto">
                  {% else %}
                    <img class="card-img-top" src="{{ asset('img/no_img.png') }}" alt="Aucune image" width="253" height="164">
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-title"></br/>
                    {{ product.getProductName }}
                  </h4>
                  <p class="card-text">
                    {{ product.getLastModifiedDatetime|date('d-m-Y H:i') }}
                  </p>
                  <p class="card-text">
                    {{ product.viewBrand }}
                  </p>
                </div>
                <div class="card-footer">
                  <a href="{{ path('app_product_information', {'id': product.getId}) }}" class="btn btn-primary">
                    Voir le produit
                  </a>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      {% endfor %}

    </div>
    <!-- /.row -->
  {% endif %}

</div>
<!-- /.col-lg-9 -->
{% endblock %}
