{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Recherche produit -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h4>Rechercher un produit</h4>
        {# Form #}
        {{ form_start(form) }}
        {{ form_row(form.product_name) }}

        <fieldset>
          <legend>Critères</legend>
          {{ form_widget(form.criteria) }}
          {{ form_widget(form.operator) }}
          {{ form_widget(form.value) }}
        </fiedlset>

        {{ form_rest(form) }}
        {{ form_end(form) }}

      </div>
    </div>
  </div <!-- /.col-lg-9 -->
{% endblock %}
{% block javascripts %}
<script>
//Listen if criteria selected has changed
$( form_criteria ).change(function() {
  var criteria = $( "#form_criteria" ).val();
  //Call Ajax function
  ajaxOperators( criteria );
});

//Retrieve the list of operators corresponding at the criteria selected
function ajaxOperators(criteria) {
  $.ajax({
    url: "{{ path('app_product_search__ajaxOperators') }}",
    type: "POST",
    data: { criteria : criteria },
    contentType: "application/json; charset=utf-8"
  })
  .done(function (data) {
    console.log("done");
    console.log( data );
    //Call function to replace list of operators in the form
    changeListOperators( data );
  })
  .fail(function () {
    alert("fail");
  });
}

//Replace into the form, the field operator with a list which corresponding at criteria
function changeListOperators(list_operators)
{
  var list = list_operators;

  $select = $( form_operator );
  //Clean all options in select
  $select
    .find('option')
    .remove()
  ;

  $.each(list, function(index, value) {
    $('<option>')
    .text(index)
    .attr('value', value)
    .appendTo($select)
  });
}
</script>
{% endblock %}
