{# templates/product_information/information.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
  Recherche produit -
  {{ parent() }}
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
  <div class="col-lg-9">

    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title"></h3>
        <h4>Rechercher un produit</h4>
        {# Form #}
        {{ form_start(form) }}
        {{ form_row(form.product_name) }}

        <fieldset>
          <legend>Critères</legend>
          {{ form_widget(form.criteria) }}
          {{ form_widget(form.operator) }}
          {{ form_widget(form.value) }}
        </fiedlset>

        {{ form_rest(form) }}
        {{ form_end(form) }}

      </div>
    </div>
  </div <!-- /.col-lg-9 --> {% endblock %}
